body {
 
 text-align:center ;
 margin-top: 100px;
 /* background-color: "#FBF5DF"; */
background-image: url("/src/images/bg_paywall.png");

}


h1{
 font-family: "caveat", cursive;
 font-size: 4rem;
 color:whitesmoke;
} 

button{
  font-size: 1.7rem;
  border-radius: 10px;
  margin: 2px;
  

}
.add-button{
  border: none;
  padding: 4px 20px;
  background-color: purple;
  color: white;
  cursor: pointer;
  
  

}
.add-button:hover{
  background-color: #FF00FF; 
}
 
.delete-button{
  background: rgba(255, 255, 255, .05);
  padding: 0.1px 0.1px;
  border: none;
  size: 2.5rem;
}

.up-button{
  background: rgba(255, 255, 255, .05);
  padding: 0.1px 0.1px;
  border: none;
  size: 2.5rem;

}

.down-button{
  background: rgba(255, 255, 255, .05);
  padding: 0.1px 0.1px;
  border: none;
  size: 2.5rem;

}

input[type="text"]{
  font-size: 1.6rem;
  border-radius: 10px;
  padding:4px;
  
  
}


ol{
  padding: 0; /* To delete the ol numbers */
  font-size: 1.8rem;
  list-style-type:none;
}
li{
  font-family: monospace;
  font-size: 2rem;
  padding: 15px;
  font-weight: bold;
  background: rgba(255, 255, 255, .05);
  backdrop-filter: blur(10px);
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: white;
  

}
.text{
  flex:1;


}


.big-box{
  justify-content: center;
  display: flex;
  padding-top: 5%;
  

}
.list-box{
  width: 50%;

}






