body {
 
 text-align:center ;
 margin-top: 100px;
 /* background-color: "#FBF5DF"; */
background-color: #0d0d0d;

}


h1{
 font-size: 4rem;
 color: white;
}

button{
  font-size: 1.7rem;
  border-radius: 8px;
  

}
.add-button{
   background: linear-gradient(to right, #b9eb9f, #147e6c);
  

}
.add-button:hover{
  background-color: #0e2c27; 
}
 
.delete-button{
  background-color: dimgrey;
}
.delete-button:hover{
  background-color: rgb(53, 52, 52);
}
.up-button{
  background-color: #147e6c;

}

.down-button{
    background: linear-gradient(to right, #b9eb9f, #147e6c);

}

input[type="text"]{
  font-size: 1.7rem;
  border-radius: 8px;
  padding:5px;
  
}


ol{
  padding: 0; /* To delete the ol numbers */
  font-size: 1.8rem;
  list-style-type:none;
}
li{
  font-size: 2rem;
  padding: 15px;
  font-weight: bold;
  background: linear-gradient(to right, #b9eb9f, #147e6c);
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: black;
  

}
.text{
  flex:1;


}


.big-box{
  justify-content: center;
  display: flex;
  padding-top: 5%;
  

}
.list-box{
  width: 50%;

}






